<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.html'); %>
</head>

<body>

    <%- include('partials/navigation.html'); %>

        <section id="acerca">
            <div class="contenedor">
                <h1 class="t-2">SOBRE MI</h1>
                <hr class="mx-auto" />
                <div class="organizacion">
                    <div class="miFoto">
                        <img class="box-container mx-auto" src="img/perfil.jpg" alt="Mi Foto">
                        <div class="link-cv card mx-auto"><a class="f-1 p-3" href="#">Descargar CV <i class="bi bi-file-earmark-richtext"></i></a></div>               
                    </div>
                    <div class="texto">



                        <div class="skill-section">
                            <h1 class="fuente-1">My Skills</h1>
                            <div class="p-3 mb-3 card box-container">
                                <div class="col-md-12">
                                    <img class="skill" src="img/tecnologias/html.png" alt="" title="HTML5">
                                    <img class="skill" src="img/tecnologias/css3.png" alt="" title="CSS3">
                                    <img class="skill" src="img/tecnologias/javascript.png" alt="" title="Javascript">
                                    <img class="skill" src="img/tecnologias/bootstrap.png" alt="" title="Bootstrap">
                                    <img class="skill" src="img/tecnologias/json.png" alt="" title="JSON">
                                    <img class="skill" src="img/tecnologias/php.png" alt="" title="PHP">
                                    <img class="skill" src="img/tecnologias/node.png" alt="" title="NodeJS">
                                    <img class="skill" src="img/tecnologias/sql.png" alt="" title="SQL">
                                    <img class="skill" src="img/tecnologias/mysql.png" alt="" title="MySQL">
                                    <img class="skill" src="img/tecnologias/oracle.jpg" alt="" title="Oracle">
                                    <img class="skill" src="img/tecnologias/postgres.png" alt="" title="PostgreSQL">
                                </div>
                            </div>
                        </div>

                        <div>
                            <p class="letra-1"><i class="bi bi-caret-right-fill"></i> Hola, me llamo Fernando Maldonado
                                tengo 22 años de edad y soy un apasionado por la tecnología, actualmente me desempeño
                                como Desarrollador en la Dirección Nacional de Registro del Automotor
                                (DNRA) de Paraguay. Fundador de la Startup ITPorã especializada en Soluciones de
                                Software a medida para las empresas que desean expandir su marca a través de la
                                técnología.</p>
                            <p class="letra-1"><i class="bi bi-caret-right-fill"></i> Para más información pincha en el
                                logo y siguenos en redes sociales:</p>
                            <p>
                                <a class="logoIT" href="#"><img src="img/itepora/svg/Recurso 2.svg" width="150"
                                        alt="logo ITPorã software startup empresa"></a>
                            </p>
                            <p>
                                <a class="redes" href="#" target="_blank"><i class="face bi bi-facebook"></i></a>
                                <a class="redes" href="https://www.instagram.com/itporapy/" target="_blank"><i
                                        class="insta bi bi-instagram"></i></a>
                                <a class="redes" href="#" target="_blank"><i class="linke bi bi-linkedin"></i></a>
                            </p>
                        </div>
                    </div>

                </div>
                <a href="#contacto"><i class="bi bi-arrow-down-circle f-down iarrow"></i></a>

            </div>
        </section>

        <section id="proyectos">
            <div class="contenedor">

                <h1 class="t-1">PROYECTOS</h1>
                <hr class="mx-auto" />
                <div class="text-left">
                    <p class="letra-1"><i class="bi bi-caret-right-fill"></i> Si desea conocer más sobre mi trabajo y
                        recibir más información sobre mis servicios, o desea un presupuesto particular, no dude en
                        ponerse en contacto conmigo.</p>
                </div>


            </div>
        </section>






        <script src="plugins/bootstrap/js/bootstrap.js"></script>
        <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="plugins/bootstrap/js/jquery.min.js"></script>
        <script src="plugins/js/vendor/popper.min.js"></script>
        <script src="plugins/js/dist/js/bootstrap.min.js"></script>
        <script src="plugins/js/vendor/holder.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>

        <script type="text/javascript">

            const typed = new Typed('.typed', {
                strings: [
                    '<span>Fernando Maldonado.</span>',
                    '<span>Desarrollador Frontend.</span>'
                ],

                //stringsElement: '#cadenas-texto', // ID del elemento que contiene cadenas de texto a mostrar.
                typeSpeed: 75, // Velocidad en mlisegundos para poner una letra,
                startDelay: 300, // Tiempo de retraso en iniciar la animacion. Aplica tambien cuando termina y vuelve a iniciar,
                backSpeed: 75, // Velocidad en milisegundos para borrrar una letra,
                smartBackspace: true, // Eliminar solamente las palabras que sean nuevas en una cadena de texto.
                shuffle: false, // Alterar el orden en el que escribe las palabras.
                backDelay: 1500, // Tiempo de espera despues de que termina de escribir una palabra.
                loop: true, // Repetir el array de strings
                loopCount: false, // Cantidad de veces a repetir el array.  false = infinite
                showCursor: true, // Mostrar cursor palpitanto
                cursorChar: '|', // Caracter para el cursor
                contentType: 'html', // 'html' o 'null' para texto sin formato
            });
        </script>


</body>

</html>