<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.html'); %>
</head>

<body>

    <%- include('partials/navigation.html'); %>

        <section id="acerca" class="parallax">
            <div class="contenedor">
                <h1 class="t-2">ALGO SOBRE MI</h1>
                <hr class="separador">
                <hr class="separador">
                <br>
                <div class="organizacion">
                    <div class="texto">

                        <p class="letra-1"><i class="bi bi-caret-right-fill"></i> Hola, me llamo Fernando Maldonado tengo 22 años de edad y soy un apasionado por la tecnología, actualmente me desempeño como Desarrollador en la Dirección Nacional de Registro del Automotor
                            (DNRA) de Paraguay. Fundador de la Startup Iteporã especializada en Soluciones de Software a medida para las empresas que desean expandir su marca a través de la técnología.</p>
                        <p class="letra-1"><i class="bi bi-caret-right-fill"></i> Para más información pincha en el logo y siguenos en redes sociales:</p>
                        <p>
                            <a class="logoIT" href="#"><img src="img/itepora/svg/Recurso 10.svg" width="250" alt=""></a>
                        </p>
                        <p>
                            <a class="redes" href="#"><i class="face bi bi-facebook"></i></a>
                            <a class="redes" href="#"><i class="insta bi bi-instagram"></i></a>
                            <a class="redes" href="#"><i class="linke bi bi-linkedin"></i></a>
                        </p>
                        <p class="letra-1"><i class="bi bi-caret-right-fill"></i> Estudiante de Ingeniería en Informática de último año el cual aprende a la par tanto en la universidad como de forma autodidacta, con cursos en línea, seminarios, blogs y sobre todo mucha
                            práctica ya que nada se aprende solo leyendo.</p>
                    </div>
                    <div class="miFoto">
                        <img src="img/proyectos/proyecto-incubadora.jpeg" alt="Mi Foto">
                    </div>
                </div>
                <a href="#proyectos"><i  class="bi bi-chevron-compact-down f-down"></i></a>

            </div>
        </section>

        <section id="proyectos">
            <div class="contenedor">

                <h1 class="t-1">PROYECTOS Y TRABAJOS</h1>
                <hr class="separador">
                <hr class="separador">
                <br>
                <p class="p-2"><i class="bi bi-caret-right-fill"></i>He participado en varios proyectos en la Universidad de la Integración de las Américas (UNIDA) de Paraguay, por ejemplo, colaborando con compañeros en la investigación y producción de una <strong>incubadora Low-Cost</strong>.</p>
                <div class="img-proyectos">
                    <img width="200" src="img/proyectos/proyecto-incubadora.jpeg" alt="Proyecto Incubadora Low-Cost">
                    <img width="400" src="img/proyectos/grupo-incubadora.jpg" alt="Proyecto Incubadora Low-Cost">
                    <img width="200" src="img/proyectos/proyecto-incubadora3.jpeg" alt="Proyecto Incubadora Low-Cost">
                </div>

                <p class="p-2"><i class="bi bi-caret-right-fill"></i> He realizado varios proyectos de páginas web brindando siempre al cliente un web estética y bien presentable a los ojos de sus clientes, ya que me preocupo bastante de como <strong>hacer lucir tu página web</strong>.</p>

                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="img/proyectos/web-cafe.png" alt="Blog Café">
                            <!-- <div class="container">
                            <div class="carousel-caption text-left">
                                <h1 class="fuente-2">Página Web Blog Café</h1>
                                <p class="fuente-2">Página web que he realizado con la temática de un Blog de Café.</p>
                                <p><a class="btn btn-lg btn-primary" href="#" role="button">Visualizar</a></p>
                            </div>
                        </div> -->
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="img/proyectos/web-okos.png" alt="Second slide">
                            <div class="container">
                                <!-- <div class="carousel-caption">
                                <h1 class="fuente-1 alert alert-primary">Sistema Web Oko's Gourmet</h1>
                                <p class="fuente-1 alert alert-primary">Sistema web de facturación e inventario realizado para el restaurante Oko's Gourmet.
                                </p>
                                <p><a class="btn btn-lg btn-primary" href="https://www.instagram.com/okos_gourmet/" role="button" target="_blanck"><i class="bi bi-instagram"></i></a>
                                    <a class="btn btn-lg btn-primary" href="https://www.instagram.com/okos_gourmet/" role="button">Visualizar</a>
                                </p>
                            </div> -->
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="img/proyectos/web-freelancer.png" alt="Third slide">
                            <!-- <div class="container">
                            <div class="carousel-caption text-right">
                                <h1>Página Web Freelancer</h1>
                                <p>Una de las primeras páginas que realicé, se trata de una web para un desarrollador freelancer.
                                </p>
                                <p><a class="btn btn-lg btn-primary" href="#" role="button">Visualizar</a></p>
                            </div>
                        </div> -->
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Anterior</span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Siguiente</span>
                    </a>
                </div>

                <br />
                <br />
                <p class="p-2"><i class="bi bi-caret-right-fill"></i> También realizo <strong>"actualizaciones"</strong> de páginas web, para algunos es una tarea tediosa pero para el que ama su profesión ninguna tarea es aburrida y más cuando supone un reto.</p>
                <div class="img-proyectos">
                    <img width="400" src="img/office2.jpeg" alt="">
                    <img width="400" src="img/office2.jpeg" alt="">
                </div>
            </div>
        </section>
        <section id="certificados" class="parallax2">
            <div class="contenedor">

                <h1 class="t-1">CERTIFICADOS</h1>
                <hr class="separador">
                <hr class="mb-5  separador">

                <div class="secciones">
                    <div id="udemy-item" class="items featured-first .one">
                        <h3>Udemy</h3>
                        <h3><img src="img/udemy-icon.svg" alt="Icono Udemy" width="20"></h3>
                        <hr class="separador">
                        <ul class="list-group">
                            <li class="par-1 list-group-item text-center">Certificados de cursos realizados en Udemy.</li>
                        </ul>

                        <a href="#contacto" class="mt2 btn btn-dark"><span class="par-1">Visualizar</span></a>
                    </div>

                    <div class="items featured-first .threee">
                        <h3>Proyectos</h3>
                        <h3><img src="img/logo/SVG/Logo_Negro.svg" width="20"></h3>
                        <hr class="separador">
                        <ul class="list-group">
                            <li class="par-1 list-group-item text-center">Algunos proyectos en los que he tenido la suerte de participar.</li>
                        </ul>

                        <a href="#contacto" class="mt2 btn btn-dark"><span class="par-1">Visualizar</span></a>
                    </div>

                </div>

                <div class="items featured-first .two">
                    <h3>Google Activate</h3>
                    <h3><img src="img/google-icon.svg" alt="Icono Google Activate" width="20"></h3>
                    <hr class="separador">
                    <ul class="list-group">
                        <li class="par-1 list-group-item text-center">Certificados de cursos ralizados en Google Actívate.
                        </li>
                    </ul>

                    <a href="#contacto" class="mt2 btn btn-dark"><span class="par-1">Visualizar</span></a>
                </div>
            </div>
        </section>

        <!-- <section id="contacto">
        <div class="contenedor">

            <h1 class="t-1">CONTACTO</h1>
            <hr class="separador">
            <hr class="separador">
            <br>
        </div>
    </section> -->


        <script src="plugins/bootstrap/js/bootstrap.js"></script>
        <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="plugins/bootstrap/js/jquery.min.js"></script>
        <script src="plugins/js/vendor/popper.min.js"></script>
        <script src="plugins/js/dist/js/bootstrap.min.js"></script>
        <script src="plugins/js/vendor/holder.min.js"></script>


</body>

</html>