.contenedor {
    max-width: 1200px;
    text-align: center;
    margin: auto;
}

.fuente-1 {
    font-family: 'Raleway', sans-serif;
    color: #000;
}

.fuente-2 {
    font-family: 'Raleway', sans-serif;
    color: #fff;
}

.site-header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #fff;
    align-items: center;
    position: fixed;
    z-index: 1;
    border-color: #11998e;
    border-bottom: 1px solid #E9E4F0;
    padding: 10px;
}

.img {
    width: 40px;
}

.navegacion a {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: #11998e;
    padding: 15px;
}

.navegacion a:hover {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    padding: 15px;
    transition: .3s ease-in-out;
}

.presentacion {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.presentacion i {
    text-align: center;
    margin-right: 2.5rem;
    color:#11998e;
}

.presentacion img {
    margin-top: 60px;
    width: 400px;
}

.f-1 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #11998e;
}

.f-down {
    color: #fff;
    font-size: 50px;
}

.menu {
    display: none;
}

.iarrow {
    color: #11998e;
}
/*FIN HEADER Y PRESENTACION*/
 hr {
    border: 0; 
    height: 0; 
    width: 10%;
    box-shadow: 0 0px 2px 1px #11998e;
} 


.t-2 {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: 700;
    margin: 5px auto;
    color: #11998e;
}

.letra-1 {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    text-align: justify;
    font-weight: 500;
    color: #000;
}


/* SECCIONES */

#acerca {
    background-color: #fff;
    padding-top: 60px;
    height: 100vh;
}

.organizacion {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin-bottom: 5rem;
}

.texto {
    width: 50%;
}

.miFoto {
    width: 50%;
}


.miFoto img {
    width: 200px;
    border-radius: 5rem 5rem 25rem 25rem;
}

.redes {
    font-size: 35px;
    margin-right: 10px;
}

.face {
    color: #fff;
    /*#1877f2 azul*/
}

.face:hover {
    transition: .3s ease-in-out;
    color: #000;
}

.insta {
    color: #fff;
    /*rosa ce2f84*/
}

.insta:hover {
    transition: .3s ease-in-out;
    color: #000;
}

.linke {
    color: #fff;
    /*1877f2 azul*/
}

.linke:hover {
    transition: .3s ease-in-out;
    color: #000;
}


/*FIN ACERCA DE MI*/

.t-1 {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: 900;
    margin: 5px auto;
    text-transform: uppercase;
    color: #11998e;
}

.p-2 {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    text-align: justify;
    font-weight: 500;
    color: #11998e;
}


/*FIN PROYECTOS Y TRABAJO*/


#contacto {
    padding-top: 40px;
    padding-bottom: 40px;
}

.secciones-contacto {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.f-contacto {
    font-family: 'Raleway', sans-serif;
}

.formulario-contacto {
    width: 500px;
}

.form-control {
    padding-right: 10px;
}

.form-group {
    text-align: left;
}


/*FIN CONTACTO*/


