<nav class="site-header ">
    <div class="logo">
        <a href="/"><img class="img" src="img/logo/logoFM_recortado.png" alt="Logo Fernando Maldonado"></a>
    </div>
    <div class="navegacion">
        <a href="/blog"><i class="bi bi-info-circle-fill"></i> Blog</a>
        <!-- <a href="#acerca"><i class="bi bi-chat-left-dots-fill"></i> Acerca de Mi</a>
        <a href="#proyectos"><i class="bi bi-display"></i> Proyectos</a>-->
        <a href="#certificados"><i class="bi bi-card-heading"></i> Certificados</a>
        <a href="/contact"><i class="bi bi-info-circle-fill"></i> Contacto</a>
    </div>
</nav>
<header>
    <div class="menu">
        <span class="f-1 text-center">La innovación de hoy es el éxito del mañana</span>
        <i class="bi bi-chevron-compact-down"></i>
    </div>
    <br><br>
    <div class="presentacion">
        <img class="img2 img-responsive align-items-lg-center animate__animated animate__bounceIn" src="img/logo/logoFM_recortado.png" alt="">
        <span class="f-1 text-center">La innovación de hoy es el éxito del mañana</span>
        <a href="#acerca"><i class="bi bi-chevron-compact-down f-down"></i></a>
    </div>
</header>