<nav class="site-header ">
    <div class="logo">
        <a href="/"><img class="img" src="img/logo/logo3.png" alt="Logo Fernando Maldonado"></a>
  
    </div>
    <div class="navegacion">
        <a href="#acerca"><i class="bi bi-chat-left-dots-fill"></i> Acerca de Mi</a>
        <a href="#proyectos"><i class="bi bi-display"></i> Proyectos</a>
        <a href="#contacto"><i class="bi bi-info-circle-fill"></i> Contacto</a>
        <!-- <a href="#" target="_blank"><i class="bi bi-facebook"></i></a> -->
        <a href="https://www.linkedin.com/in/maldosftorres/" target="_blank"><i class="bi bi-linkedin"></i></a>
        <a href="https://www.instagram.com/maldosftorres/" target="_blank"><i class="bi bi-instagram"></i></a>
        <a href="https://github.com/maldosftorres" target="_blank"><i class="bi bi-github"></i></a>

    </div>
</nav>
<header>
    <div class="menu">
        <span class="f-1 text-center">La innovación de hoy es el éxito del mañana.</span>
        <i class="bi bi-chevron-compact-down"></i>
    </div>
 
    <div class="presentacion">
        <img src="img/logo/logo3.png" class="img img-responsive align-items-lg-center animate__animated animate__backInUp" alt="Logo Web-FM">
		<p class="f-1"><b>Soy</b> <span class="typed"></p>
        <span class="f-1 text-center">La innovación de <b>hoy</b> es el éxito del <b>mañana</b>.</span>
        <a href="#acerca"><i class="bi bi-arrow-down-circle f-down iarrow"></i></a>
    </div>
</header>